.classpath
.gimp
.gradle
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.jks
*.launch
*.log
*.tmp
*.xcf
*.txt
/*.txt
/archive
/assets-src
/classes
/dev
/dist
/versions
/tmp
/meta/lib
bin
build
classes
desktop.ini
eclipse
out
run
signing.*
src/main/java/archive
src/main/resources/assets/minecraft
tests
/1.1*
/1.2*
